.wrap {
    margin-top: 5%;
    font-family: "Lato", sans-serif;
  }
  
.inline-block {
  display: inline-block;
  color: #F4512C;
}

.emp, .modal-title, .modal-body{
  color: #5E1B89;
}

span {
  background-color: #5E1B89;
}  

span, .cancel-button-all, .delete-button-all, .delall-button, .markun-button {
  color: #F8FFFE;
}

.delall-button {
  background-color: #5E1B89;
  border: none;
}

.delall-button:hover {
  background-color: #9D71BC;
}

.markun-button {
  background-color: #F4512C;
  border: none;
}

.markun-button:hover {
  background-color: #FF7F4D;
}

.delete-button-all{
  background-color: #9D71BC;
}

.delete-button-all:hover{
  background-color: #5E1B89;
}

.cancel-button-all {
  background-color: #FF7F4D ;
}

.cancel-button-all:hover {
  background-color: #F4512C ;
}

.cancel-button-all, .delete-button-all {
  border-radius: 5px;
  border: transparent;
  height: 38px;
  width: 70px;
}
